<div class="flex h-full">
  <div
    class="p-4 border-r border-zinc-300 dark:border-zinc-700 w-56 lg:w-64 transition-[width] shrink-0 h-full overflow-auto"
  >
    <sprout-index-workspace></sprout-index-workspace>
  </div>
  <div
    class="p-4 pb-0border-r border-zinc-300 dark:border-zinc-700 sm:w-56 md:w-80 shrink-0 transition-[width]"
  >
    <sprout-note-list></sprout-note-list>
  </div>
  <div
    class="p-4 pb-0 grow flex flex-col gap-4 bg-zinc-200 dark:bg-zinc-800 max-h-lvh"
  >
    <div class="h-10 flex items-center justify-between" id="editorHeader">
      <ng-container *ngIf="!noteContent.loading && !noteContent.firstLoad">
        <div class="flex items-center gap-4 min-w-[208px]">
          <div class="text-nowrap hidden sm:block">
            {{ openedFolder.data.title }}
          </div>
          <button
            rootButton
            modifier="ghost"
            class="flex items-center gap-2 shrink-0"
          >
            <ng-icon name="heroTag"></ng-icon>
            <div>Add tags</div>
          </button>
        </div>
        <div class="flex min-w-[120px] shrink">
          <button
            rootButton
            shape="circle"
            modifier="ghost"
            *ngFor="
              let visibleAction of [].constructor(
                editorActions.length > visibleEditorActions
                  ? visibleEditorActions - 1
                  : visibleEditorActions
              );
              index as i
            "
          >
            <ng-icon [name]="editorActions[i].icon"></ng-icon>
          </button>
          <button *ngIf="editorActions.length > visibleEditorActions">
            <button rootButton shape="circle" modifier="ghost">
              <ng-icon name="heroEllipsisHorizontal"></ng-icon>
            </button>
          </button>
        </div>
      </ng-container>
    </div>
    <div class="-mx-4 px-8 grow overflow-y-auto">
      <sprout-note-editor
        [content]="noteContent.data?.content"
        *ngIf="!noteContent.loading && !noteContent.firstLoad; else noteLoading"
      ></sprout-note-editor>
      <ng-template #noteLoading>
        <div class="flex flex-col">
          <root-shimmer
            class="py-[9px]"
            heightClass="h-[36px]"
            widthClass="w-1/2"
            backgroundColorClass="bg-zinc-300 dark:bg-zinc-700"
          ></root-shimmer>
          <root-shimmer
            class="py-[4px] mt-2 mb-4"
            backgroundColorClass="bg-zinc-300 dark:bg-zinc-700"
            rows="5"
          ></root-shimmer>
          <root-shimmer
            class="py-[7.5px]"
            heightClass="h-[30px]"
            widthClass="w-1/2"
            backgroundColorClass="bg-zinc-300 dark:bg-zinc-700"
          ></root-shimmer>
          <root-shimmer
            class="py-[4px] mt-2 mb-4"
            backgroundColorClass="bg-zinc-300 dark:bg-zinc-700"
            rows="5"
          ></root-shimmer>
          <root-shimmer
            class="py-[7.5px]"
            heightClass="h-[30px]"
            widthClass="w-1/2"
            backgroundColorClass="bg-zinc-300 dark:bg-zinc-700"
          ></root-shimmer>
          <root-shimmer
            class="py-[4px] mt-2 mb-4"
            backgroundColorClass="bg-zinc-300 dark:bg-zinc-700"
            rows="5"
          ></root-shimmer>
        </div>
      </ng-template>
    </div>
  </div>
</div>
