<div class="flex h-full">
  <div
    class="p-4 flex-col gap-4 border-r border-zinc-300 dark:border-zinc-700 w-56 lg:w-64 hidden lg:flex transition-[width] shrink-0"
    [ngClass]="{
      hidden: !sidebarState.folders.isVisible,
      flex: sidebarState.folders.isVisible,
      'w-full': sidebarState.folders.isVisible && sidebarState.notes.isVisible,
    }"
  >
    <div class="h-10 flex gap-2 items-center">
      <div class="flex items-center gap-2 mr-auto">
        <button rootButton shape="circle" modifier="ghost" (click)="logout()">
          <root-avatar value="Kian Alikhani"></root-avatar>
        </button>
        <div>Workspace</div>
      </div>
      <button
        class="hidden lg:inline-flex shrink-0"
        rootButton
        shape="circle"
        modifier="ghost"
      >
        <ng-icon name="heroArrowPath"></ng-icon>
      </button>
      <button
        class="shrink-0 lg:hidden"
        rootButton
        shape="circle"
        modifier="ghost"
        (click)="toggleSidebar('folders')"
      >
        <ng-icon name="heroChevronRight"></ng-icon>
      </button>
    </div>
    <div class="flex flex-col md:pl-8 gap-8">
      <ng-container *ngIf="!folderGroups.loading && !folderGroups.firstLoad">
        <div class="flex flex-col" *ngFor="let folder of folderGroups.data">
          <div class="mb-2">{{ folder.title }}</div>
          <a
            tabindex="0"
            class="cursor-pointer hover:bg-black/5 active:bg-black/10 hover:dark:bg-white/5 active:dark:bg-white/10 -ml-8 pl-8 rounded-md py-2 flex items-center gap-2 text-sm text-zinc-800 dark:text-zinc-200"
            *ngFor="let folder of folder.folders"
            (click)="getFolderById(folder.id)"
          >
            <div class="w-6">
              <svg
                *ngIf="folder.icon"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="size-5"
                [ngClass]="folder.color"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z"
                />
              </svg>
            </div>
            <div>
              {{ folder.title }}
              <span class="text-zinc-600 dark:text-zinc-400">{{
                folder.count
              }}</span>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
  <div
    class="p-4 pb-0 flex-col gap-4 border-r border-zinc-300 dark:border-zinc-700 hidden sm:flex sm:w-56 md:w-80 shrink-0 transition-[width]"
    [ngClass]="{
      hidden: !sidebarState.notes.isVisible,
      'flex w-full': sidebarState.notes.isVisible,
    }"
  >
    <div class="h-10 flex items-center gap-4">
      <button
        rootButton
        shape="circle"
        modifier="ghost"
        (click)="toggleSidebar('folders')"
        class="shrink-0 flex-inline lg:hidden"
        [ngClass]="{
          hidden:
            sidebarState.folders.isVisible && !sidebarState.notes.isVisible,
        }"
      >
        <ng-icon name="heroChevronLeft"></ng-icon>
      </button>
      <root-icon-field class="grow hidden md:inline-block">
        <svg
          rootInputIcon
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          class="size-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          />
        </svg>
        <input class="w-full" rootInput placeholder="Search" />
      </root-icon-field>
      <button
        rootButton
        shape="circle"
        modifier="primary"
        class="shrink-0 ml-auto hover:bg-black/5 active:bg-black/10 hover:dark:bg-white/5 active:dark:bg-white/10"
      >
        <ng-icon name="heroPlus"></ng-icon>
      </button>
      <button
        rootButton
        shape="circle"
        modifier="ghost"
        (click)="toggleSidebar('notes')"
        class="shrink-0 flex sm:hidden"
      >
        <ng-icon name="heroChevronRight"></ng-icon>
      </button>
    </div>
    <div
      class="flex flex-col gap-4"
      *ngIf="
        !openedFolder.loading && !openedFolder.firstLoad;
        else folderLoading
      "
    >
      <div class="flex items-center gap-4 mb-4">
        <ng-icon name="heroBoltSlash"></ng-icon>
        <div>{{ openedFolder.data.title }}</div>
      </div>
      <a
        tabindex="0"
        class="flex gap-4 hover:bg-black/5 active:bg-black/10 hover:dark:bg-white/5 active:dark:bg-white/10 cursor-pointer px-4 -mx-4 pt-4 -mt-4"
        *ngFor="let note of openedFolder.data.notes"
        (click)="getNoteContentByNoteId(note.id)"
      >
        <div
          class="bg-red-800 dark:bg-red-200 w-4 h-4 rounded-full shrink-0 mt-1"
        ></div>
        <div class="w-full truncate">
          <div>{{ note.title }}</div>
          <div class="truncate text-zinc-600 dark:text-zinc-400 text-sm">
            {{ note.date | date: "shortDate" }} {{ note.content }}
          </div>
          <hr class="mt-4 -mr-4 border-zinc-700" />
        </div>
      </a>
    </div>
    <ng-template #folderLoading>
      <div class="flex flex-col gap-4">
        <div class="flex gap-4 mb-4 items-center py-1">
          <root-shimmer
            widthClass="w-4"
            borderRadiusClass="rounded-full"
          ></root-shimmer>
          <root-shimmer class="w-full" widthClass="w-1/3"></root-shimmer>
        </div>
        <div class="flex gap-4" *ngFor="let i of [].constructor(3)">
          <root-shimmer
            class="mt-1"
            widthClass="w-4"
            borderRadiusClass="rounded-full"
          ></root-shimmer>
          <div class="flex flex-col w-full">
            <root-shimmer class="w-1/3 py-1"></root-shimmer>
            <root-shimmer
              widthClass="w-full"
              class="py-[3px]"
              heightClass="h-[14px]"
            ></root-shimmer>
            <hr class="mt-4 border-zinc-700" />
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <div
    class="p-4 pb-0 grow flex flex-col gap-4 bg-zinc-200 dark:bg-zinc-800 max-h-lvh"
  >
    <div class="h-10 flex items-center justify-between" id="editorHeader">
      <ng-container *ngIf="!noteContent.loading && !noteContent.firstLoad">
        <div class="flex items-center gap-4 min-w-[208px]">
          <div class="text-nowrap hidden sm:block">
            {{ openedFolder.data.title }}
          </div>

          <button
            rootButton
            shape="circle"
            modifier="ghost"
            (click)="toggleSidebar('notes')"
            class="flex sm:hidden"
          >
            <ng-icon name="heroChevronLeft"></ng-icon>
          </button>
          <button
            rootButton
            modifier="ghost"
            class="flex items-center gap-2 shrink-0"
          >
            <ng-icon name="heroTag"></ng-icon>
            <div>Add tags</div>
          </button>
        </div>
        <div class="flex min-w-[120px] shrink">
          <button
            rootButton
            shape="circle"
            modifier="ghost"
            *ngFor="
              let visibleAction of [].constructor(
                editorActions.length > visibleEditorActions
                  ? visibleEditorActions - 1
                  : visibleEditorActions
              );
              index as i
            "
          >
            <ng-icon [name]="editorActions[i].icon"></ng-icon>
          </button>
          <button *ngIf="editorActions.length > visibleEditorActions">
            <button rootButton shape="circle" modifier="ghost">
              <ng-icon name="heroEllipsisHorizontal"></ng-icon>
            </button>
          </button>
        </div>
      </ng-container>
    </div>
    <div class="-mx-4 px-8 grow overflow-y-auto">
      <sprout-note-editor
        [content]="noteContent.data?.content"
        *ngIf="!noteContent.loading && !noteContent.firstLoad; else noteLoading"
      ></sprout-note-editor>
      <ng-template #noteLoading>
        <div class="flex flex-col">
          <root-shimmer
            class="py-[9px]"
            heightClass="h-[36px]"
            widthClass="w-1/2"
            backgroundColorClass="bg-zinc-300 dark:bg-zinc-700"
          ></root-shimmer>
          <root-shimmer
            class="py-[4px] mt-2 mb-4"
            backgroundColorClass="bg-zinc-300 dark:bg-zinc-700"
            rows="5"
          ></root-shimmer>
          <root-shimmer
            class="py-[7.5px]"
            heightClass="h-[30px]"
            widthClass="w-1/2"
            backgroundColorClass="bg-zinc-300 dark:bg-zinc-700"
          ></root-shimmer>
          <root-shimmer
            class="py-[4px] mt-2 mb-4"
            backgroundColorClass="bg-zinc-300 dark:bg-zinc-700"
            rows="5"
          ></root-shimmer>
          <root-shimmer
            class="py-[7.5px]"
            heightClass="h-[30px]"
            widthClass="w-1/2"
            backgroundColorClass="bg-zinc-300 dark:bg-zinc-700"
          ></root-shimmer>
          <root-shimmer
            class="py-[4px] mt-2 mb-4"
            backgroundColorClass="bg-zinc-300 dark:bg-zinc-700"
            rows="5"
          ></root-shimmer>
        </div>
      </ng-template>
    </div>
  </div>
</div>
