quill-editor {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow,
.ql-editor {
  border: 0;
  color: var(--color-white);
  padding-left: 0;
  padding-right: 0;
}

.ql-stroke {
  stroke: white;
}

.ql-container.ql-snow {
  flex-grow: 1;
  overflow: auto
}
